.expirienceContainer {
  width: 60rem;
  height: 320rem;
  margin: auto;
}

.employmentContainer {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.employerCompany {
  //font-family: 'Raleway', sans-serif;
  font-family: "Quicksand", Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 500;
}

.employmentRow {
  display: block;
  margin: 5rem;
  padding: 1rem;
  overflow: visible;
  background: red;
  width: 85%;
  height: 37.5rem;
}

/*
.employmentRow:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
  transition: 1s ease;
  cursor: pointer;
}
*/

#backyard-crypto {
  background: #F1F3F2;
  color: black;
}

#horizn-consulting {
  background: #F1F3F2;
  color: black;
}

#ncsa-row {
  background: #F1F3F2;
  color: black;
}

#barstool-sports-row {
  background: #F1F3F2;
  color: black;
}

#canisius-row {
  background: #F1F3F2;
  color: black;
}

#ub-row {
  background: #F1F3F2;
  color: black;
}


.employmentDetails {
  padding: 1rem;
  text-align: center;
  width: 42.5rem;
  margin: auto;
}

.employment-details {
  text-align: center;
  //font-family: "Quicksand", Arial, sans-serif;
  //padding-left: 1rem;
  //padding-right: 1rem;
  //color: rgba(0, 0, 0, 0.7);
}

.job-info {
  position: relative;
  text-align: center;
  width: 100%;
  height: 6rem;
  text-align: center;
  margin: auto;
}



.sub-job-info {
  height: 6rem;
  text-align: center;
}

.jobTitle {
  font-size: 1.1rem;
  //font-family: 'Raleway', sans-serif;
  font-family: "Quicksand", Arial, sans-serif;
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
  margin-top: 1rem;
}

.jobLocation {
  font-size: 1rem;
  //font-family: 'Raleway', sans-serif;
  font-family: "Quicksand", Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  text-align: center;
  margin-top: 1rem;
}

.employer-logo-container {
  width: 5rem;
  height: 5rem;
  margin: auto;
  background: green;
}

.employment-logo {
  width: 5rem;
  height: 5rem;
  border: 1px solid rgb(73, 110, 178);
}

.employment-details {
  font-size: 1.2rem;
}

#backyard-crypto-logo {
  border: 2px solid #2988FA;
}

#horizns-consulting-logo {
  border: 2px solid #E1B93F;
}

#ncsa-logo {
  border: 2px solid #15294A;
}

#barstool-sports-logo {
  border: 2px solid #0F1C30;
}

#canisius-logo {
  border: 2px solid #002144;
}

#ub-logo {
  border: 2px solid #005ABC;
}

#kirkwork-logo {
  border: 2px solid black;
}
