/*
.projectsContainer {
   width: 100%;
   margin: none;
   margin: auto;
 }
 .githubProjectsDiv {
   width: 20rem;
   height: 40rem;
   display: block;
   margin: auto;
 }

 .projectsColumn {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   width: 20rem;
   height: 30rem;
   padding: 0;
   margin: 0;
   border: none;
   margin: auto;
   margin-top: 5rem;
 }

 .githubRepo {
   margin:auto;
 }

 #projectsColumn2 {
   display: none;
 }

 #projectsColumn1 {
   flex: 1;
 }

 .projectsParagraph {
   font-size: 0.9rem;
   width: 80%;
   margin: auto;
   margin-top: 1rem;
   text-align: center;
 }

 .turtlebotVideo {
   width: 25rem;
   border: 1px solid #CCC;
   border-radius: .5rem;
   margin: auto;
 }
*/

.projectsContainer {
  position: relative;
  width: 100%;
  height: 100%;
  margin: auto;
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.projectRow {
  width: 90%;
  display: flex;
  justify-content:space-between;
  margin: auto;
  margin-top: 2rem;
}

.project {
  width: 40rem;
  height: 30rem;
  background: #F1F3F2;
}

.projectImage {
  height: 30rem;
  width: 40rem;
  background: #F1F3F2;
}

.mobileProject {
  height: 30rem;
  width: 40rem;
  background: white;
  background: #F1F3F2;
}

.mobileProjectImage {
  height: 25rem;
  width: 12rem;
  margin: auto;
  margin-top: 2.5rem;
}

.project_img__description {
  position: absolute;
  background: rgba(29, 106, 154, 0.72);
  color: #fff;
  visibility: hidden;
  opacity: 0;
  transition: opacity 2s, visibility 2s;
}

.imageDirections {
  font-size: 1.2rem;
  font-family: 'Montserrat', sans-serif;
  color: #007bb6;
}

#project_img_bottom_description {
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

#project_img_top_description {
  left: 0;
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

#project_img_left_description {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

#project_img_right_description {
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.mobileProjectRow {
  display: flex;
  justify-content:space-around;
  flex: 1;
  margin: auto;
  margin-left: 10rem;

  .mobileProjectDiv {
    width: 10rem;
    height: 10rem;
    background: red;
    flex: 1;
  }
}

.noogleContainer {
  width: 40rem;
  height: 20rem;
  margin: auto;
}

#projectNoogle {
  display: block;
  margin: auto;
  width: 400px;
  height: 250px;
}

 .githubProjectsDiv {
   width: 80rem;
   height: 50rem;
 }

#OneDentalMatch {
  width: 13rem;
  height: 22rem;
  border: 3px solid white;
  border: 3px solid #282c34;
}

#projectsBackground {
  background: rgb(73, 110, 178);
  background: #282c34;
  color: white;
  padding: 1rem;
}

.projectsDiv:hover .img__description {
  visibility: visible;
  opacity: 1;
  width: 100%;
  height: 100%;
}

#projectsTitleContainer {
  width: 30rem;
  height: 10rem;
  margin: auto;
}

#portfolioTitle {
  margin: 0;
  text-align: none;
  font-family: "Quicksand", sans-serif;
  text-transform: uppercase;
  color: #999999;
  font-weight: 500;
  letter-spacing: 5px;
  margin-bottom: 15px;
  display: block;
  font-size: 1rem;
}


#projectsTitle {
  margin: 0;
  text-align: none;

  font-size: 1.2rem;
  margin-bottom: 4em;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 5px;
  line-height: 1.8;
  font-family: "Quicksand", sans-serif;
}
