.researchContainer {
  width: 60rem;
  margin: auto;
  background: red;
}

.researchCarousel {
  width: 80%;
  margin: auto;
  margin-top: 2.5rem;
  border-radius: 1rem;
}

.researchCarouselImageDiv, .researchCarouselImage {
  height: 100%;
}

.researchExplanationHeader {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}

.researchParagraph {
  font-size: 1.25rem;
  width: 80%;
  margin: auto;
  margin-top: 2rem;
  margin-bottom: 3rem;
  text-align: center;
  font-size: 1.5rem;
}

#enigmaLink {
  color: black;
}

#enigmaLink:active {
  color: black;
}

#researchLogoContainer {
  width: 40rem;
  height: 10rem;
  margin: auto;
  margin-top: 2rem;
  display: flex;
  justify-content: space-around;
}

.researchLogo {
  width: 10rem;
  height: 10rem;
  border-radius: 1rem;
}

#hackathonMainTitle {
  font-size: 2rem;
}

#contributionsTitle, #researchPhotosTitle {
  margin: 0;
  text-align: none;
  font-family: "Quicksand", sans-serif;
  text-transform: uppercase;
  color: #999999;
  font-weight: 500;
  letter-spacing: 5px;
  margin-bottom: 15px;
  display: block;
  font-size: 1.2rem;
}

#researchPhotosTitle {
  font-size: 1.5rem;
  margin-top: 2rem;
  margin-bottom: 5rem;
}
