.noogleComponent {
  position: relative;
  height: 100%;
  width: 100%;
  border: 1px solid black;
}


.ui-widget {
    font-family: "Open Sans", sans-serif;
    overflow: scroll;
    position: relative;
    margin: 0 auto;
    width: 100%;
    height: 90%;
}

#Noogle {
    display: block;
    margin: auto;
    margin-top: 75px;
    margin-bottom: 20px;
    width: 400px;
    height: 250px;
}

#searchBarContainer {
    display: block;
    margin: auto;
    width: 550px;
}

#tags {
    width: 475px;
    height: 45px;
    margin: auto;
    border: 1px solid black;
    float: left;
    border: {
        top: 1px solid lightgray;
        left: 1px solid lightgray;
        bottom: 1px solid lightgray;
        right: none;
    }
    padding: 0;
    box-shadow: 0px 1px 0px #888888;
    &:focus {
        border: {
            top: 1px solid lightgray;
            left: 1px solid lightgray;
            bottom: 1px solid lightgray;
            right: none;
        }
        outline: 0;
    }
    &::-webkit-input-placeholder {
        text-indent: 10px;
        color: #C8C8C8;
    }
    &::-moz-placeholder {
        text-indent: 10px;
        color: #C8C8C8;
    }
    &:-ms-input-placeholder {
        text-indent: 10px;
        color: #C8C8C8;
    }
    &:-moz-placeholder {
        text-indent: 10px;
        color: #C8C8C8;
    }
}

#delete {
    display: inline-block;
    background-color: white;
    outline: none;
    float: left;
    border: {
        top: 1px solid lightgray;
        right: 1px solid lightgray;
        bottom: 1px solid lightgray;
        left: none;
    }
    #googleMic {
        height: 25px;
        width: 18px;
        float: right;
        margin-top: 8px;
        margin-right: 15px;
    }
    width: 50px;
    height: 45px;
    box-shadow: 0px 1px 0px #888888;
}

#buttons {
    display: block;
    margin: auto;
    height: 100px;
    width: 500px;
}

#noogleSearch, #feelingLucky {
    height: 50px;
    width: 150px;
    padding: 10px;
    font-size: 15px;
    margin-top: 30px;
    border: none;
    background-color: #F0F0F0;
    font-family: "Open Sans", sans-serif;
    font-weight: 900;
    color: #616161;
    &:hover {
        color: black;
        border: 1px solid black;
    }
    &:focus {
        outline: 1px solid #4285f4;
    }
}

#noogleSearch {
    display: inline-block;
    margin-left: 70px;
}

#feelingLucky{
    margin-left: 15px;
}

#noogleDefinition {
    display: block;
    text-align: center;
    font-family: "Open Sans", sans-serif;
}
