body {
  font-family: 'Source Sans Pro', sans-serif;
}

body a {
  text-decoration: none;
}

body a:visited {
  color: rgb(72.981, 109.9815, 177.99);
}

/*****App Component*****/

.App {
  margin-bottom: 4rem;
}

#siteGreetingContainer {
  background: white;
  height: 200px;
  width: 60%;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: auto;
}

.homePageContainer {
  display : flex;
  flex-direction : column;
  justify-content: center;
  margin-top : 5rem;
}

.homePageHeader {
  text-align: center;
  width: 30rem;
  margin: auto;
}

#siteGreetingContainer .siteGreetingDiv {
  background: rgb(72.981, 109.9815, 177.99);
  color: white;
  width: 80%;
  padding: 4rem;
  display: flex;
  flex-direction: column;
  padding-top: 1rem;
}

.siteGreetingDiv blockquote {
  text-align: center;
}
.text {
  text-align: center;
}

/*****App Component*****/

/*****HEADER Component*****/

.headerDiv {
  width: 100%;
}

.headerDiv h1 {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: lighter;
  font-size: 2.5rem;
}

#mainHeaderSubList {
  font-family: 'Source Sans Pro', sans-serif;
  text-transform: uppercase;
  list-style-type: none;
  display: flex;
  justify-content: space-around;
}

#mainHeaderSubList li {
  color: rgb(72.981, 109.9815, 177.99);
}

#mainHeaderSubList li:hover {
  cursor: pointer;
}

.headerTab {
  font-size: 1.2rem;
}

/*****HEADER Component*****/

/*****SITE Footer*****/

.siteFooter {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 3rem;
  color: black;
  text-align: center;
}

.fontAwesomeIconDiv {
  width: 20rem;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.iconLink {
  font-size: 1.5rem;
  width: 2rem;
  height: 2rem;
  background: rgb(72.981, 109.9815, 177.99);
  border-radius: 1rem;
}

.fontAwesomeIcon {
  color: white;
}

/*****SITE Footer*****/


/*****RESUME Component*****/


#resumeDiv {
  width: 80%;
  height: 50rem;
  margin: auto;
  border: 1px solid black;
}

.resumeSubSections {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.resumeSubSection {
  border: 1px solid black;
}

/*****RESUME Component*****

/*****PROJECTS Component*****/

/*****PROJECTS Component*****/

/*****RESEARCH Component*****/

.carouselImageDiv {
  width: 100%;
  height: 100%;
}

.carouselImage {
  width: 100%;
  height: 100%;
}

/*****RESEARCH Component*****/

/*****ARTICLES Component*****/

/*****ARTICLES Component*****/

/**************************Footer code below *************/

.footer {
  position:absolute;
  bottom:0;
  width:100%;
  height:3rem;
  display: flex;
  justify-content: space-around;
}



/************MOBILE VERSION MEIDA QUERIES *****************/

@media only screen and (max-width: 600px) {

  /*****APP Media queries****/
  .App {
    margin-bottom: 1rem;
  }

  /*****APP Media queries****/
  /*****Home Page Media queries****/

  .homePageContainer {
    height: 5rem;
  }

  .homePageHeader {
    font-size: 0.9rem;
    text-align: center;
  }

  .homePageParagraph {
    font-size: 0.7rem;
    width: 15rem;
    margin: auto;
    text-align: center;
  }

  /*****Home Page Media queries****/
  /*****Header Media queries****/

  .homePageHeader {
    width: 100%;
  }

  .headerDiv {
    height: 3rem;
    width: 100%;
  }

  .headerDiv h1 {
    font-size: 1.5rem;
  }

  .mainHeaderSubListContainer {
    width: 40rem;
    margin: auto;
    float: left;
  }

  #mainHeaderSubList {
    height: 1.5rem;
    width: 80%;
    display: block;
    float: left;
  }

  li {
    display: inline-block;
    width: 5rem;
    float: left;
  }

  .headerTab {
    font-size: 0.8rem;
  }

  /*****Header Media queries****/
  /*****Footer Media queries****/

  .fontAwesomeIconDiv {
    width: 100%;
    height: 3rem;
    display: flex;
    justify-content: space-around;
    background: rgb(72.981, 109.9815, 177.99);
  }

  .iconLink {
    width: 1.5rem;
    height: 1.5rem;
    font-size: 1rem;
    background: rgb(72.981, 109.9815, 177.99);
    border-radius: 1rem;
  }

  .fontAwesomeIcon {
    font-size: 1.5rem;
    margin-top: .25rem;
    border: 1px solid white;
    padding: 5px;
    border-radius: 1rem;
  }

  /*****Footer Media queries****/
}
