body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 200;
  position: relative;
  margin: 0;
  padding-bottom: 6rem;
  min-height: 100%;
  height: 100%;
  text-align: center;
}

body a {
  text-decoration: none;
}

body a:hover {
  cursor: pointer;
}

#content {
  margin-top: 2.5rem;
}

/*****App Component*****/


.homePageHeader {
  text-align: center;
  width: 30rem;
  margin: auto;
  font-size: 1.5rem;
}

.headerUnderline {
  width: 30rem;
  margin: auto;
}

.homePageServices {
  width: 80em;
  height: 30rem;
  margin: auto;
  margin-top: 3.5rem;
  border: 1px solid #ccc;
  border-radius: 1rem;
  display: flex;
  justify-content: space-between;
}

.homePageService {
  display: block;
  width: 20rem;
  height: 25rem;
  margin: auto;
  margin-top: 2.5rem;
  border: 1px solid #ccc;
  border-radius: .5rem;
}

#contactButton {
  width: 10rem;
  height: 2.5rem;
  border-radius: .5rem;
  margin-top: 2.5rem;
  outline: none;
}

#contactButton:active {
  background: rgb(73, 110, 178);
  color: white;
}

.contactFormContainer {
  width: 35rem;
  height: 42.5rem;
  border: 1px solid #ccc;
  margin: auto;
  margin-top: 5rem;
  border-radius: 1rem;
}

.contactInput {
  width: 25rem;
  height: 2.5rem;
  border-radius: .5rem;
  box-shadow: none;
  outline: none;
  border: 1px solid #ccc;
}

.contactInputTitle {
  font-size: 1rem;
  margin-top: 2rem;
  text-align: none;
}

.serviceImage {
  display: block;
  position: relative;
  width: 6rem;
  height: 6rem;
  margin: auto;
  margin-top: 1rem;
}

.homePageServiceDetails {
  color: rgb(73, 110, 178);;
  font-size: 1.2rem;
  padding: 1rem;
  padding-top: .5rem;
  padding-bottom: 0rem;
}


#sendContactMessage {
  width: 10rem;
  height: 2.5rem;
  border-radius: .5rem;
  margin-top: 1rem;
  outline: none;
}

#sendContactMessage:active {
  background: rgb(73, 110, 178);
  color: white;
}

#contactTextArea {
  width: 25rem;
  height: 12rem;
  border-radius: .5rem;
  border: 1px solid #ccc;
  outline: none;
  resize: none;
}


.homePageServiceTitle {
  color: rgb(73, 110, 178);
  margin-top: 1.5rem;
}

#servicesTitle {
  margin-top: 3rem;
  font-size: 2rem;
  font-family: "Montserrat", sans-serif;
}

.servicePrice {
  margin-top: 1rem;
  color: rgb(73, 110, 178);
}


.homePageParagraph {
  width: 50rem;
  margin: auto;
  margin-top: 2.5rem;
  font-size: 1.2rem;
}

#homePageSep {
  margin-top: 5rem;
}

#siteGreetingContainer .siteGreetingDiv {
  background: rgb(73, 110, 178);
  color: white;
  width: 80%;
  padding: 4rem;
  display: flex;
  flex-direction: column;
  padding-top: 1rem;
}

.siteGreetingDiv blockquote {
  text-align: center;
}
.text {
  text-align: center;
}

/*****App Component*****/

/*****HEADER Component*****/

.headerDiv {
  width: 100%;
  display: flex;
  vertical-align: middle;
}

.headerDiv h1 {
  flex: 2;
  font-weight: lighter;
  font-size: 2.5rem;
  font-family: 'Montserrat', sans-serif;
}

#headerName {
  margin: 4rem;
}

#headerLink {
  font-family: 'Montserrat', sans-serif;
  color: black;
  text-align: center;
  text-transform: uppercase;
}


#mainHeaderSubList {
  flex: 4;
  margin-right: 2.5rem;
  margin-top: 4.35rem;
  font-family: 'Source Sans Pro', sans-serif;
  text-transform: uppercase;
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  color: white;
}

#mainHeaderSubList li {
  position: relative;
  width: 7.5rem;
  height: 3rem;
  border: 1px solid rgb(73, 110, 178);
  border-radius: 2.5rem;
  color: rgb(73, 110, 178);
}

#mainHeaderSubList a {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  padding-top: .7rem;
  border-radius: 2.5rem;
}

#mainHeaderSubList li:hover {
  background: rgb(73, 110, 178);
  cursor: pointer;
  color: white;
}

#mainHeaderSubList a:active {
  height: 2.8rem;
  padding-top: .6rem;
}


.headerTab {
  font-size: 1rem;
}

#splitter {
  display: block;
  margin-top: 5rem;
}

#current_page_icon_top {
  width: .7rem;
  height: .7rem;
  background: rgb(73, 110, 178);
  position: absolute;
  border-radius: 100%;
  bottom: 3.525rem;
  margin-left: 3.25rem;
}

#current_page_icon_bottom {
  width: .7rem;
  height: .7rem;
  background: rgb(73, 110, 178);
  position: absolute;
  border-radius: 100%;
  margin-top: .65rem;
  margin-left: 3.26rem;
}

/*****HEADER Component*****/

/*****SITE Footer*****/

.siteFooter {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  text-align: center;
  display: flex;
  justify-content: space-around;
}

.fontAwesomeIconDiv {
  flex: 1;
  display: flex;
  justify-content: space-around;
  border-radius: .5rem;
  background: white;
}

.iconLink {
  font-size: 1.8rem;
  width: 3rem;
  height: 3rem;
  border: 1px solid white;
  border-radius: 0.7rem;
}

.fontAwesomeIcon {
  color: white;
}

.footerCopyright {
  flex: 3;
  text-transform: capitalize;
}

.copyrightHeader {
    text-align: center;
    float: left;
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    font-size: 1rem;
}

.fa-twitter {
  color: #00aced;
}

.fa-linkedin {
  color: #007bb6;
}

.fa-github {
  color: #333;
}

.fa-twitch {
  color: #6441a5;
}

.fa-youtube {
  color: #c4302b;
}



/*****SITE Footer*****/


/*****RESUME Component*****/


#resumeDiv {
  width: 80%;
  height: 50rem;
  margin: auto;
  margin-top: 4rem;
  border: 1px solid black;
}

.jobDiv {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.researchContainer {
  background-image: none !important;
  background: none;
}


.companyName {
  font-weight: bold;
}

#resume {
  width: 50rem;
  height: 70rem;
  outline: none;
  border: 0;
}


/*****RESUME Component*****

/*****PROJECTS Component*****/


.githubProjectsDiv {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  height: 100%;
  height: 40rem;

  margin: auto;
  background: white;
}

.projectsColumn {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
  padding: 2rem;
}


.githubRepo {
  width: 20rem;
  margin: auto;
  opacity: .5;
}

.whipLogo {
  margin: 2.5rem;
}

.projectsParagraph {
  font-size: 1.25rem;
  width: 60rem;
  margin: auto;
  margin-top: 1.8rem;
  text-align: center;
}


.whipTitle {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  margin-top: 2.5rem;
}

.turtlebotHeader {
  font-size: 1.75rem;
  margin: 2.5rem;
}

.turtlebotVideo {
  width: 35rem;
  border: 1px solid #CCC;
  border-radius: .5rem;
  margin: auto;
}

/*****PROJECTS Component*****/

/*****Design Component*****/

.designComponentHeader {
  font-size: 1.5rem;
  text-align: center;
}

.designsContainer {
  width: 60rem;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 2.5rem;
}

.designsRow {
  width: 60rem;
  margin: auto;
  display: flex;
  justify-content: space-between;
  margin-top: 2.5rem;
}

.designContainer:hover .designDescriptionContainer {
  -webkit-animation: slide 0.5s forwards;
  animation: slide 0.5s forwards;
}

.designPhoto {
  width: 20rem;
  height: 20rem;
  border-radius: .5rem;
  border: 1px solid black;
  margin: 0;
}

.designDescriptionContainer {
  width: 20rem;
  height: 12rem;
  border-radius: .5rem;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
  border-left: 1px solid black;
  border-top-left-radius: 0;
  border-top-right-radius: 0;

  position: relative;
  opacity: 0;
  top: -10rem;
  margin: 0;
}


.designDescription {
  padding-top: 2rem;
  font-weight: bold;
}

.designSubtext {
  padding-left: 1rem;
  padding-right: 1rem;
}

@-webkit-keyframes slide {
    100% { top: -2rem; opacity: 1; }
}

@keyframes slide {
    100% { top: -2rem; opacity: 1; }
}


.animatable {
  background: inherit;
  will-change: transform;
  transition: transform 0.2s ease;
}

.animatable.prepare {
  /* we do this so we can tell when the "preparing" was done
     since there seems to be a browser bug where the preparation still takes
     time, even with `transition: none;` */
  transition-duration: 0.0000000000001s;
  opacity: 0;
}

.animatable.prepare.from.left {
  transform: translateX(-110%);
}
.animatable.prepare.from.right {
  transform: translateX(110%);
}
.animatable.prepare.to.left {
  transform: translateX(-1px);
}
.animatable.prepare.to.right {
  transform: translateX(1px);
}

.animatable:not(.prepare).to {
  pointer-events: none;
}
.animatable:not(.prepare).to.left {
  transform: translateX(-110%);
}
.animatable:not(.prepare).to.right {
  transform: translateX(110%);
}
.animatable:not(.prepare).from {
  transform: translateX(0);
}

.animatable div {
  height: 100px;
}

.animate-option {
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.animate-option input {
  width: 24px;
  height: 24px;
  margin-right: 8px;
}


/*****Design Component*****/

/*****HACKATHON Component*****/

.hackathonComponent {
  width: 100%;
  height: 40rem;
  margin: 0;
  color: white;
}

.hackathonContainer {
  width: 80%;
  height: 40rem;
  border-radius: 1rem;
  margin: auto;
}


.hackathonTitle {
  padding: 4.5rem;
  font-family: "Lato", sans-serif;
  font-size: 2rem;
  margin: 0;
  margin-left: .75rem;
}

.switch-wrapper {
  position: relative;
}

.hackathonCarousel {
  width: 80%;
  margin: auto;
  height: 40rem;
  border: 1px solid #CCC;
  border-radius: .5rem;
}

.hackathonCarouselImageDiv, .hackathonCarouselImage {
  height: 100%;
  height: 40rem;
  border-radius: .5rem;
}

.photoText {
  padding: 1rem;
}

.img__description {
  position: absolute;
  background: rgba(29, 106, 154, 0.72);
  color: #fff;
  visibility: hidden;
  opacity: 0;
  transition: opacity 2s, visibility 2s;
}

.imageDirections {
  font-size: 1.2rem;
  font-family: 'Montserrat', sans-serif;
  color: #007bb6;
}

#img_bottom_description {
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

#img_top_description {
  left: 0;
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

#img_left_description {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

#img_right_description {
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.hackathonCarouselImageDiv:hover .img__description {
  visibility: visible;
  opacity: 1;
  width: 100%;
  height: 100%;
}

.logoAbsoluteContainer {
  position: relative;
  width: 35rem;
  height: 15rem;
  margin: auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.whipLogoHover {
  width: 35% !important;
  height: 85%;
  border-radius: .5rem;
}

.demoLink {
  color: yellow;
  background: yellow;
  font-weight: bold;
  text-decoration: underline;
}

.mlhLogoContainer {
  position: absolute;
  z-index: 1;
  width: 8rem;
  height: 8rem;
  top: 23rem;
  left: 11.5rem;
}

.mlhlogo {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}


/*****HACKATHON Component*****/

/*****RESEARCH Component*****/

.researchContainer, .projectsContainer {
  width: 60rem;
  margin: auto;
}

.researchCarousel {
  width: 80%;
  margin: auto;
  margin-top: 2.5rem;
  border-radius: 1rem;
}

.researchCarouselImageDiv, .researchCarouselImage {
  height: 100%;
}

.researchExplanationHeader {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}

.researchParagraph {
  font-size: 1.25rem;
  width: 50rem;
  margin: auto;
  margin-top: 1.8rem;
  text-align: center;
}

#enigmaLink {
  color: black;
}

#enigmaLink:active {
  color: black;
}

#researchLogoContainer {
  width: 40rem;
  height: 10rem;
  margin: auto;
  margin-top: 2rem;
  display: flex;
  justify-content: space-around;
}

.researchLogo {
  width: 10rem;
  height: 10rem;
  border-radius: 1rem;
}

/*****RESEARCH Component*****/

/*****ARTICLES Component*****/

#articleDiv {
  margin-top: 2rem;
}

/*****ARTICLES Component*****/

/*****GPA Calculator Component*****/

#appTitle {
  font-weight: 200;
}

.calculator {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 50rem;
  margin: auto;
}

.column {
  background: #2B9EB3;
  color: white;
  display: flex;
  flex-direction: column;
  border: 1px solid #ccc;;
  width: 30%;
  justify-content: space-between;
  border-radius: .7rem;
}

.columnTitle {
  font-family: sans-serif;
  font-weight: 200;
  text-transform: capitalize;
}

.courseInput, .gpaInput, .creditsInput {
  width: 10rem;
  height: 2rem;
  outline: none;
  margin: auto;
  margin-bottom: 2rem;
  padding: 12px 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 1rem;
}

.buttonsDiv {
  width: 50rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: auto;
}

.calculatorButton {
  width: 15rem;
  height: 2rem;
  outline: none;
  border-radius: .5rem;
  margin-top: 2rem;
  font-size: 1rem;
}

#addClassButton {
  background: #44AF69;
  color: white;
}

#calculateButton {
  background: #fcab10;
  color: white;
}

#resetButton {
  background: #F8333C;
  color: white;
}


.gpaHeader {
  margin-top: 3rem;
  font-family: sans-serif;
  font-weight: 200;
}


/*****GPA Calculator Component*****/

/* Rubric Calculator Component Styles */

.rubricCalculatorDiv {
  display: block;
  margin: auto;
  width: 61rem;
  border: 1px solid black;
}

.rubric {
  width: 60rem;
  margin: auto;
}

.rubricHeader {
  width: 60rem;
  height: 5rem;
  border-bottom: 1px solid black;
  border-top: 1px solid black;
}

.rubricHeaderSection {
  display: inline-block;
  width: 15rem;
  height: 5rem;
  border-left: 1px solid black;
}

.rubricHeaderSectionText {
  text-align: center;
  width: 10rem;
  margin: auto;
  font-family: "Lato", sans-serif;
}

.rubricHeaderSectionText:hover {
  cursor: pointer;
}

#rubricHeaderLastColumn {
  border-right: 1px solid black;
}

.rubricRow {
  width: 60rem;
  height: 10rem;
  border-bottom: 1px solid black;
}

.footerButtons {
  width: 22rem;
  height: 20rem;
  margin: auto;
}

.submitGrade {
  width: 10rem;
  height: 4rem;
  display: inline-block;
  margin-right: 1rem;
  font-family: "Lato", sans-serif;
  border: 1px solid black;
  margin-top: 1rem;
}

.resetRubric {
  width: 10rem;
  height: 4rem;
  margin-left: 1rem;
  display: inline-block;
  font-family: "Lato", sans-serif;
  border: 1px solid black;
  margin-top: 1rem;
}

#studentScores {
  margin: auto;
  width: 60rem;
  border: 1px solid black;
  text-align: center;
  font-family: "Lato", sans-serif;
}

.studentScore {
  display: inline-block;
  font-family: "Lato", sans-serif;
  margin-left: 1rem;
}

/* Rubric Calculator Component Styles */

/* Rubric Section Component Styles */

.rubricObjectives {
  display: inline-block;
  width: 15rem;
  height: 10rem;
  border-left: 1px solid black;
}

.rubricObjectivesText {
  width: 14.9rem;
  height: 9.9rem;
  margin: auto;
  font-size: 1rem;
  overflow: scroll;
  font-family: "Lato", sans-serif;
}

.rubricObjectivesText:hover {
  cursor: pointer;
}

.rubricSection {
  display: inline-block;
  width: 15rem;
  height: 10rem;
  border-left: 1px solid black;
}


.rubricSection:active {
  transform: translateY(4px);
}


.rubricSectionText {
  width: 14.9rem;
  height: 9.9rem;
  margin: auto;
  font-size: 1rem;
  overflow: scroll;
  font-family: "Lato", sans-serif;
}

.rubricSectionText:hover {
  cursor: pointer;
}

.rubricSectionFinalColumn {
  display: inline-block;
  width: 15rem;
  height: 10rem;
  border-right: 1px solid black;
  border-left: 1px solid black;
}

.rubricSectionFinalColumn:active {
  transform: translateY(4px);
}

.rubricSectionFinalColumnText {
  width: 14.9rem;
  height: 9.9rem;
  margin: auto;
  font-size: 1rem;
  overflow: scroll;
  font-family: "Lato", sans-serif;
}

.rubricSectionFinalColumnText:hover {
  cursor: pointer;
}

/******CSS Transitions ****/

.move-enter {
    opacity: 0.01;
    transform: translate(-40px, 0)
}

.move-enter-active {
    opacity: 1;
    transform: translate(0, 0);
    transition: all 500ms ease-in;
}

.move-exit {
    opacity: 1;
    transform: translate(0, 0)
}

.move-exit-active {
    opacity: 0.01;
    transform: translate(40px, 0);
    transition: all 500ms ease-in;
}

/*********Expirience Page********/

.expirienceContainer {
  width: 60rem;
  height: 150rem;
  margin: auto;
}

.employmentContainer {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.employmentRow {
  height: 11rem;
  flex: 1;
  height: 5rem;
  /*background: #5EA1FF;*/
  border-bottom: 3px solid rgb(73, 110, 178, .9);
  border-right: 3px solid rgb(73, 110, 178, .9);
  border-left: 3px solid rgb(73, 110, 178, .9);
  color: black;
  padding: 1rem;
}

#top-employment-row {
  border-top: 3px solid rgb(73, 110, 178, .9);
}

.employmentDetails {
  position: relative;
  width: 80%;
  margin: auto;
}

.employment-details {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: left;
}


.employment-logo {
  width: 5rem;
  height: 5rem;
  border: 1px solid #333;
  border-radius: .5rem;
    flex: 1;
}

.employment-details {
  flex: 3;
  font-size: 1.2rem;
}

/******CSS Transitions ****/

/* Rubric Section Component Styles */



/************MOBILE VERSION MEIDA QUERIES *****************/

@media only screen and (max-width: 600px) {

  body {
    overflow-x: hidden;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
  }

  #app {
    width: 100%;
  }

  /*****APP Media queries****/
  .App {
    width: 100%;
    margin-bottom: 2rem;
  }

  /*****APP Media queries****/

  /*****Header Media queries****/

  /*

  .dropdownHeaderButton {
    width: 2rem;
    height: 2rem;
    margin-left: 1rem;
    margin-top: 1rem;
    border-radius: 50%;
  }

  */

  .headerDiv {
    display: flex;
    flex-direction: column;
    height: 6rem;
  }

  .headerTopDiv {
    width: 100%;
    background:rgb(73, 110, 178);
    display: flex;
    align-items: center;
    flex-direction: row;
    height: 6rem;
    color: white;
  }

  .dropDownIcon {
    flex: 1;
    width: 4rem;
    height: 3.7rem;
    padding-top: .9rem;
    font-size: 2.5rem;
    background:rgb(73, 110, 178);
    color: white;
    margin-left: 2rem;
    text-align: center;
  }

  .headerDiv h1 {
    flex: 10;
    font-weight: lighter;
    font-size: 1.5rem;
    color: white;
    font-family: 'Montserrat', sans-serif;
  }

  #headerLink {
    font-family: 'Montserrat', sans-serif;
    color: white !important;
    text-transform: uppercase;
  }

  #mainHeaderSubList {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: auto;
    margin-top: 1rem;
    height: 40rem;
  }

  #mainHeaderSubList li {
    border: 1px solid rgb(73, 110, 178);
    margin-top: 1rem;
    background: white;
    color: rgb(73, 110, 178) !important;
  }

  #mainHeaderSubList li:hover {
    cursor: pointer;
    color: white !important;
  }

  .headerTab {
    font-size: 1rem;
    text-align: center;
    color: rgb(73, 110, 178) !important;
    font-weight: lighter;
  }

  .headerTab:hover {
    color: white !important;
  }


  /*****Header Media queries****/

  /*****Articles Media queries****/

  #articleDiv {
    margin-top: 2rem;
  }

  /*****Articles Media queries****/

  /*****GPA Calculator Component Media Queries*****/

  #appTitle {
    font-weight: 200;
  }

  .calculator {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    margin: 0;
  }

  .column {
    background: #2B9EB3;
    color: white;
    display: flex;
    flex-direction: column;
    border: 1px solid #ccc;
    width: 60%;
    margin: auto;
    margin-top: 1rem;
    justify-content: space-between;
    border-radius: .7rem;
  }

  .buttonsDiv {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: auto;
  }

  .calculatorButton {
    width: 15rem;
    height: 2rem;
    margin: auto;
    outline: none;
    border-radius: .5rem;
    margin-top: 2rem;
    font-size: 1rem;
  }

  #addClassButton {
    background: #44AF69;
    color: white;
  }

  #calculateButton {
    background: #fcab10;
    color: white;
  }

  #resetButton {
    background: #F8333C;
    color: white;
  }


  .gpaHeader {
    margin-top: 3rem;
    font-family: sans-serif;
    font-weight: 200;
  }


  /*****GPA Calculator Component Media Queries*****/


.photoText {
  padding: .25rem;
  font-size: .48rem;
}

  /*****Home Page Media queries****/

  .homePageContainer {
    position: relative;
    justify-content: center;
    width: 100%;
    margin: auto;
    margin-top : 2rem;
  }


  .homePageServices {
    width: 45rem;
    height: 70rem;
    border-radius: 1rem;
    margin: auto;
    margin-top: 2.5rem;
    border: 1px solid #ccc;
    display: flex;
    flex-direction: column;
  }

  .homePageService {
    width: 20rem;
    height: 20rem;
    margin: auto;
    border: 1px solid #ccc;
    border-radius: .5rem;
    background: rgb(73, 110, 178);
  }

  .serviceImage {
    background: black;
    margin-top: 1.5rem;
  }

  .homePageServiceDetails {
    color: white;
    font-size: 1.2rem;
    padding: 1rem;
    padding-top: .5rem;
    padding-bottom: 0rem;
  }


  .homePageServiceTitle {
    color: white;
    font-size: 1.4rem;
  }

  #servicesTitle {
    margin-top: 3rem;
    font-size: 1.5rem;
    font-family: "Montserrat", sans-serif;
  }

  .servicePrice {
    margin-top: 1rem;
    font-size: 1.25rem;
    color: white;
  }

  .homePageServiceDetails {
    width: 15rem;
    margin: auto;
    font-size: .8rem;
  }

  .homePageParagraph {
    width: 50rem;
    margin: auto;
    margin-top: 2.5rem;
    font-size: .8rem;
  }

  .contactFormContainer {
    width: 25rem;
    height: 37rem;
  }

  .contactInput {
    width: 20rem;
    height: 2.5rem;
    border-radius: .5rem;
    box-shadow: none;
    outline: none;
    border: 1px solid #ccc;
  }

  .contactInputTitle {
    font-size: 1.2rem;
    margin-top: 2rem;
    text-align: none;
  }

  #contactTextArea {
    width: 20rem;
  }


  /*****Home Page Media queries****/

  /*****Projects Component Media queries****/


 .projectsContainer {
    width: 100%;
    margin: none;
    margin: auto;
  }
  .githubProjectsDiv {
    width: 20rem;
    height: 40rem;
    display: block;
    margin: auto;
  }

  .projectsColumn {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 20rem;
    height: 30rem;
    padding: 0;
    margin: 0;
    border: none;
    margin: auto;
    margin-top: 5rem;
  }

  .githubRepo {
    margin:auto;
  }

  #projectsColumn2 {
    display: none;
  }

  #projectsColumn1 {
    flex: 1;
  }

  .projectsParagraph {
    font-size: 0.9rem;
    width: 80%;
    margin: auto;
    margin-top: 1rem;
    text-align: center;
  }

  .turtlebotVideo {
    width: 25rem;
    border: 1px solid #CCC;
    border-radius: .5rem;
    margin: auto;
  }

    /*****Projects Component Media queries****/

    .hackathonContainer {
      width: 100%;
      margin: none;
    }

  /*****Research Media queries****/

  .researchContainer {
    width: 100%;
    margin: none;
  }

  .researchParagraph {
    font-size: 0.9rem;
    width: 80%;
    margin: auto;
    margin-top: 1rem;
    text-align: center;
  }

  #rp2 {
    margin-top: 2rem;
  }

  .carousel {
    height: 100%;
  }

  .carouselImageDiv, .carouselImage {
    height: 100%;
  }

  .carouselImageDiv, .carouselImage {
    height: 100%;
  }

  .control-dots {
    display: none;
  }

  .dots {
    display: none;
  }

  .thumbs-wrapper {
    display: none;
  }

  .thumb {
    display: none;
  }

  #researchLogoContainer {
    width: 20rem;
    height: 5rem;
    margin: auto;
    margin-top: 2rem;
  }

  .researchLogo {
    width: 5rem;
    height: 5rem;
    margin-bottom: 2rem;
  }


.logoAbsoluteContainer {
  width: 12.5rem;
  height: 5rem;
  margin-top: .25rem;
  margin-bottom: .25rem;
}


  /*****Research Component Media queries****/

  /*****Resume Media queries****/

  #resumeContainer {
    width: 25rem;
    height: 40rem;
    margin:auto;
  }

#resume {
  width: 25rem;
  height: 35rem;
  margin:auto;
}

  /*****Resume Media queries****/

  /*****Footer Media queries****/

  .fontAwesomeIconDiv {
    width: 100%;
    height: 3rem;
    display: flex;
    justify-content: space-around;
  }

  .iconLink {
    width: 2.5rem;
    height: 2.5rem;
    font-size: 1rem;
    border: 1px solid white;
  }

  .fontAwesomeIcon {
    font-size: 1.5rem;
    margin-top: .25rem;
    padding: 5px;
  }

  .hackathonTitle {
    font-size: 1.5rem;
  }

  .researchExplanationHeader {
    font-size: 1.5rem;
  }


  .designsContainer {
    display: block;
    width: 25rem;
    margin: auto;
  }

  .designsRow {
    display: flex;
    flex-direction: column;
    width: 25rem;
    margin: auto;
  }

  .designContainer:hover .designDescriptionContainer {
    -webkit-animation: 0;
    animation: 0;
  }

  .designPhoto {
    width: 20rem;
    height: 20rem;
    border-radius: .5rem;
    border: 1px solid black;
    margin-top: 2.5rem;
  }

  .designDescriptionContainer {
    width: 20rem;
    height: 12rem;
    border-radius: .5rem;
    margin: auto;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    border-left: 1px solid black;
    border-top-left-radius: 0;
    border-top-right-radius: 0;

    position: relative;
    opacity: 1;
    top: -2rem;
  }


  .designDescription {
    padding-top: 1.5rem;
    font-weight: bold;

  }

  .designSubtext {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  @-webkit-keyframes slide {
      100% { top: -2rem; opacity: 1; }
  }

  @keyframes slide {
      100% { top: -2rem; opacity: 1; }
  }

  /********Hackathon media queries*/


  .hackathonComponent {
    width: 100%;
    height: 35rem;
    margin: 0;
    color: white;
  }

  .hackathonContainer {
    width: 80%;
    height: 30rem;
    border-radius: 1rem;
    margin: auto;
  }


  .hackathonTitle {
    font-size: 1rem;
    color: white;
    margin: 0;
    margin-left: .75rem;
  }

  .mobileHackathonDetails {
    border: 1px solid white;
    border-radius: .5rem;
    width: 80%;
    margin: auto;
    height: 12rem;
    margin-top: 1rem;
    overflow: hidden;
    color: black;
  }

  #mobileAwardsHeader {
    margin-top: 1rem;
    font-size: 1rem;
  }

  .mobileAward {
    margin-top: 1rem;
    font-size: .8rem;
  }

  .switch-wrapper {
    position: relative;
  }

  .hackathonCarousel {
    width: 80%;
    height: 15rem;
    margin: auto;
    border: 1px solid #CCC;
    border-radius: .5rem;
  }

  .hackathonCarouselImageDiv, .hackathonCarouselImage {
    height: 15rem;
    border-radius: .5rem;
  }

  .img__description {
    position: absolute;
    background: rgba(29, 106, 154, 0.72);
    visibility: hidden;
    opacity: 0;
    transition: opacity 2s, visibility 2s;
  }

  .imageDirections {
    font-size: 1.2rem;
    font-family: 'Montserrat', sans-serif;
    color: #007bb6;
  }

  #img_bottom_description {
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
  }

  #img_top_description {
    left: 0;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }

  #img_left_description {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
  }

  #img_right_description {
    top: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
  }

  .hackathonCarouselImageDiv:hover .img__description {
    visibility: visible;
    opacity: 1;
    width: 100%;
    height: 100%;
  }

  .logoAbsoluteContainer {
    position: relative;
    width: 35rem;
    height: 15rem;
    margin: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .whipLogoHover {
    width: 35% !important;
    height: 85%;
    border-radius: .5rem;
  }

  .demoLink {
    color: yellow;
    background: yellow;
    font-weight: bold;
    text-decoration: underline;
  }

  .mlhLogoContainer {
    position: absolute;
    z-index: 1;
    width: 8rem;
    height: 8rem;
    top: 23rem;
    left: 11.5rem;
  }

  .mlhlogo {
    width: 100%;
    height: 100%;
    border-radius: 50%;
  }

  /*******Expirience Media Queries*****/


  .expirienceContainer {
    width: 20rem;
    height: 150rem;
    margin: auto;
  }

  .employmentContainer {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .employmentRow {
    height: 11rem;
    flex: 1;
    height: 5rem;
    /*background: #5EA1FF;*/
    border-bottom: 2px solid rgb(73, 110, 178, .9);
    border-right: 2px solid rgb(73, 110, 178, .9);
    border-left: 2px solid rgb(73, 110, 178, .9);
    color: black;
    padding: .5rem;
  }

  #top-employment-row {
    border-top: 2px solid rgb(73, 110, 178, .9);
  }

  .employmentDetails {
    position: relative;
    width: 80%;
    margin: auto;
  }

  .jobTitle {
    font-size: 1rem;
  }

  .employerCompany {
    font-size: 1.2rem;
  }

  .employment-details {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: left;
  }


  .employment-logo {
    width: 3.5rem;
    height: 3.5rem;
    border: 1px solid #333;
    border-radius: .5rem;
      flex: 1;
  }

  .employment-details {
    flex: 3;
    font-size: .7rem;
  }
  /******Expirience Media Queries****/


  /*****Footer Media queries****/
}
