body {
  font-family: 'Source Sans Pro', sans-serif;
}

body a {
  text-decoration: none;
}

body a:visited {
  color: rgb(72.981, 109.9815, 177.99);
}

/*****App Component*****/

#siteGreetingContainer {
  background: white;
  height: 200px;
  width: 60%;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: auto;
}


#siteGreetingContainer .siteGreetingDiv {
  background: rgb(72.981, 109.9815, 177.99);
  color: white;
  width: 80%;
  padding: 4rem;
  display: flex;
  flex-direction: column;
  padding-top: 1rem;
}

.siteGreetingDiv blockquote {
  text-align: center;
}

#siteEnterButton {
  width: 10rem;
  height: 3rem;
  color: rgb(72.981, 109.9815, 177.99);
  background: white;
  font-size: 1rem;
  border-radius: 2.5rem;
  margin: auto;
  margin-top: 1rem;
  outline: none;
}

#siteEnterButton:active {
  background: rgb(72.981, 109.9815, 177.99);
  color: white;
  border: 1px solid white;
}


.text {
  text-align: center;
}

/*****App Component*****/

/*****HEADER Component*****/

.headerDiv {
  width: 50rem;
  height: 8rem;
  margin: auto;
}

.headerDiv h1 {
  font-family: 'Source Sans Pro', sans-serif;
  text-align: center;
  font-weight: lighter;
  font-size: 2.5rem;
}

#mainHeaderSubList {
  font-family: 'Source Sans Pro', sans-serif;
  text-transform: uppercase;
  height: 2rem;
  margin: auto;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}

li {
  flex: 1;
  color: rgb(72.981, 109.9815, 177.99);
}

li:hover {
  cursor: pointer;
}

#nickSitePic {
  width: 15rem;
  height: 15rem;
  border-radius: 2rem;
}

#resumeFrame {
  width: 50rem;
  height: 50rem;
  border: 0;
  overflow: hidden;
}

/*****HEADER Component*****/


/*****RESUME Component*****/

.myBio {
  width: 30rem;
  margin: auto;
  margin-top: 3rem;
}

.bodyDiv {
  width: 50rem;
  height: 50rem;
  margin: auto;
}

#resumeDiv {
  width: 80%;
  height: 50rem;
  margin: auto;
  border: 1px solid black;
}

.resumeSubSections {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.resumeSubSection {
  border: 1px solid black;
}

/*****RESUME Component*****

/*****PROJECTS Component*****/

/*****PROJECTS Component*****/

/*****RESEARCH Component*****/

/*****RESEARCH Component*****/

/*****ARTICLES Component*****/

/*****ARTICLES Component*****/

/**************************Footer code below *************/

.footer {
  position:absolute;
  bottom:0;
  width:100%;
  height:3rem;
  display: flex;
  justify-content: space-around;
}
